body{
    padding: 15px;
}

.row{
    margin-bottom: 15px;
}

#BarraLateral{
    background-color: rgb(170, 168, 168);
    border-top-right-radius: 4%;
    border-end-end-radius: 4%;
    text-align: center;
    padding: 10px;
    height: 100vh;
}






